<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>All Users!</title>
</head>
<body class="bg-light container-sm">
    <h1 class="text-center">All Users</h1>
    <!-- <form action="/delete" method='post'> -->
    <table class = "table table-hover border">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.first_name}} </td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td><a href="/delete/{{user.id}}">Delete</a></td>
                <td><a href="/show/{{user.id}}">Show</a></td>
                <td><a href="/edit/{{user.id}}">Edit</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <!-- </form> -->
    <a href="/users" class="btn btn-dark">Add User</a>
</body>
</html>